
@{
    Layout = null;
}
@*@model IEnumerable<WebApplication1.Personel>*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="/img/favicon.png">
    <title>Yeni Hesap Oluştur</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/style-responsive.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="login-body">
    <div class="container">
        <form class="form-signin" action="/index/kullaniciEkle" method="post">
            <h2 class="form-signin-heading">Yeni Profil</h2>
            <div class="login-wrap">
                <p>Kişisel bilgilerinizi giriniz</p>
                <input type="text" class="form-control" placeholder="TC" autofocus name="TC">
                <input type="text" class="form-control" placeholder="Ad Soyad" autofocus name="AdSoyad">
                <input type="text" class="form-control" placeholder="Doğum Tarihi" autofocus name="DogumTarihi">
                <input type="text" class="form-control" placeholder="Email" autofocus name="Email">
                <input type="text" class="form-control" placeholder="GSM" autofocus name="Gsm">
                <div class="form-group">
                    <select class="form-control m-bot15" name="DepartmanID">
                        @*<option>Seçiniz</option>*@
                        @foreach (var item in ViewBag.Departman)
                        {
                            <option value="@item.DepartmanId"> @item.DepartmanAd</option>
                            @*if (item.KullaniciDepartmani == true)
                            {
                                <option value="@item.DepartmanId"> @item.DepartmanAd</option>
                            }*@
                        }
                    </select>
                </div>
                <input type="password" class="form-control" placeholder="Şifre" name="Sifre">
                <input type="password" class="form-control" placeholder="Şifrenizi Tekrar Giriniz">
                <div class="form-group">
                    <label class="label_radio col-lg-6 col-sm-6" for="radio-01">
                        <input name="Cinsiyet" checked="checked" id="radio-01" value="True" type="radio" /> Erkek
                    </label>
                    <label class="label_radio col-lg-6 col-sm-6" for="radio-02">
                        <input name="Cinsiyet" id="radio-02" value="False" type="radio" /> Kadın

                    </label>
                </div>

                <br />
                <label class="checkbox">
                    <input type="checkbox" value="agree this condition"> Sözleşmeyi okudum, kabul ediyorum.
                </label>
                <button class="btn btn-lg btn-login btn-block" type="submit">Kaydet</button>
                <div class="registration">
                    Bir Hesabım Var
                    <a class="" href="/index/index">
                        Giriş
                    </a>
                </div>
            </div>
        </form>
    </div>

</body>
</html>
